h1 {
    color: green;
}

/* ( # ) is the ID Selector limited to only one element*/
#container {
    color: blue;
}

/* (.) is the Class Selector can be used as many times as possible*/
.red-heading{
    color: red;
}
.blue-heading{
    color: blue;
}
.green-heading{
    color: green;
}

p[draggabl="false"] {
    color: red;
}
