
body{
    background-color: black; }
#big{
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal; }
#small{
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal; }
#image{
    border: 5px solid white;
    width: 100%; }
